<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all members</title>
</head>
<body>
    {% extends "master.html" %}

    {% block title %}
      My Tennis Club - List of all members
    {% endblock %}
    
    
    {% block content %}
      <div class="mycard">
        <h1>Members</h1>
        <ul>
          {% for x in mymembers %}
            <li onclick="window.location = 'details/{{ x.id }}'">{{ x.firstname }} {{ x.lastname }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endblock %}
</body>
</html>