<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing</title>
</head>
<body>
    {% with lastname="Tobias" %}
        <h1>hello {{ firstname }} {{ lastname }}, how are you?</h1>
    {% endwith %}

    {% for i in mymembers %}
        <li>{{ i.firstname }}</li>
    {% endfor %}

    {% for x in fruits %}
        <h1>{{ x }}</h1>
    {% endfor %}

    <p>In views.py you can see what the fruits variable looks like.</p>
</body>
</html>